.container {
  position: relative;  
}
.responsiveJumpMarioInGoomba {
  position: relative;
}
.responsiveBowserBaloonWord {
  position: relative;
  }
.super-mario {
  width: 20%;
  position: absolute;
  top: 100px;
  left: 200px;
  padding:2px;  
}
.goomba {
  width: 10%;
  position: absolute;
  top: 495px;
  left: 283px;
  padding: 2px;
  
}
.baloon {
  width: 20%;
  position: absolute;
  top: 20px;
  left: 530px;
  padding: 1px;  
}
.bowser {
  width: 25%;
  position: absolute;
  top: 100px;
  left: 800px;
  padding: 2px;
  
}
.word {
  position: absolute;
  top: 65px;
  left: 580px;
  padding: 1px;  
}
