div:hover {
  border: 1px solid black;
}
div:nth-child(3) {
  color: #250902;
}
div:nth-child(4) {
  color: #38040e;
}
div:nth-child(5) {
  color: #640d14;
}
div:nth-child(6) {
  color: #800e13;
}
div:nth-child(7) {
  color: #ad2831;
}
div:nth-child(3) h3:first-child {
  font-style: italic;
  text-decoration: underline;
}
div:nth-child(4) h3:first-child {
  font-family: sans-serif;
}
div:nth-child(5) h3:first-child {
  font-style: italic;
  font-size: 2em;
}
div:nth-child(6) h3:first-child {
  font-weight: 100;
}
div:nth-child(7) h3:first-child {
  font-style: italic;
  letter-spacing: 10px;
}